/*muuttujat*/
:root {
    --paavari: rgb(131, 67, 28);
    --tekstivari: rgb(131, 67, 28);
    --taustavari: rgb(255, 255, 255);
    --tehostevari: rgb(193, 96, 112);
}


body {
    background-color: var(--taustavari);
    color: var(--tekstivari);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    max-width: 882px;
    width: 100%;
}

#topnav a {
    color: rgb(153, 76, 89);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
    padding: 0 5px;
}

#topnav a {
    display: inline-block;
    margin: 5px 5px;
    border: 2px solid var(--tehostevari);
    background-color: rgb(254, 245, 229);
    padding: 2px;
    width: 7em;
    text-align: center;
    border-radius: 10px;

}


#botfo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 90%;
    border-top: 1px solid rgb(131, 67, 28);
    margin-top: 15px;

}

h1 {
    color: var(--tekstivari);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

h2 {
    color: var(--tekstivari);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
}

main p {
    background-color: rgb(252, 236, 216);
    padding: 20px;
    margin-top: auto;
    border: solid rgb(193, 96, 112) 5px;
    border-radius: 10px;

}

header,
footer {
    text-align: center;
}

.lihavoitu {
    font-weight: bold;
}

.logo {
    width: 80%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.henkilökuva,
.pentujooga,
.koirat,
.henkilökunta {
    width: 80%;
    max-width: 400px;
    display: block;
    margin: auto;
    border: solid rgb(193, 96, 112) 5px;
    border-radius: 10px;

}

table {
    width: 80%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    background-color: rgb(252, 236, 216);
    border-collapse: separate;
    border-spacing: 10px;
    border: solid rgb(193, 96, 112) 5px;
    border-radius: 10px;

}

table th {
    border-bottom: 2px solid rgb(193, 96, 112);

}

ul {
    background-color: rgb(252, 236, 216);
    padding: 20px;
    margin-top: auto;
    border: solid rgb(193, 96, 112) 5px;
    border-radius: 10px;
    text-align: center;
    list-style: none;
}

#aukioloajat {
    text-align: center;
}

iframe {
    margin-left: 20px;
    border: solid rgb(193, 96, 112) 5px;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

/*mobiili*/

@media only screen and (max-width:440px) {

    .flex_item {
        padding-bottom: 15px;
    }
}


@media only screen and (min-width:440px) {
    .flex_container {
        display: flex;
    }

    .flex_item {
        flex: 1;
    }
}

@media only screen and (min-width:683px) {
    .flex_container2 {
        display: flex;
    }

    .flex_item2 {
        flex: 1;
    }

}

@media only screen and (min-width:1200px) {}